<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>This is the index page</title>
    </head>
    <body>
        <h2>Take at look at the squirrels sightings in Central Park at 2018</h2>
        <ul>
        	<li>
        		<a href="/map/map">Map of the squirrels</a>
        	</li>
        	<li>
        		<a href="/map/stats">Add the new data of squirrels</a>
        	</li>
        	<li>
        		<a href="/map/add">Take a glance at the squirresl sighting</a>
        	</li>       	
        </ul>
    </body>
</html>
