<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>General Statistics about the sightings</title>

    </head>
    <body>
        <h2>sq_all: The total number of squirrels in the Central Park at 2018: {{sq_all}}</h2>
		<h2>Run: The total number of squirrels that are running: {{Run}}</h2>
		<h2>Chase: The total number of squirrels that are chasing: {{Chase}}</h2>
		<h2>Climb: The total number of squirrels that are climbing: {{Climb}}</h2>
		<h2>Eat: The total number of squirrels that are eating: {{Eat}}</h2>

	<a href="{% url 'sightings:index' %}">Go back to the index page!</a>

    </body>
</html>
