<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>This is the index page</title>
    </head>
    <body>
        <h3>Take a look at the squirrels sightings in Central Park at 2018</h3>
        <ul>
            <li>
                <a href='{%url 'sightings:add'%}'>Add some squirrel data</a>
            </li>
            <li>
                <a href='{% url 'sightings:stats'%}'>Take a glance at the squirresl sighting statistics</a>
            </li>
        </ul>

        <h3>These is a list of all sightings. Click each link to see details! </h3> 
            {%if sightings%}
                <ul>
                    {%for sighting in sightings%}
                    <li>{{sighting}}</li>
                    <a href='{% url 'sightings:update' unique_squirrel_id=sighting.unique_squirrel_id%}'>Update it</a>
                    {%endfor%}
                </ul>
            {% else %}
                <p>Please try another sighting</p>
            {%endif%}
    </body>
</html>
